@import './footer.scss';
@import './header.scss';
@import './formLogin.scss';

.commicbook {

    &__titleSection {
        font-size: 3rem;
        line-height: 3rem;;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 3rem;
    }
    
    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }
    
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;

        margin-bottom: 1rem;
        
        @include media-breakpoint-only(xs) {
            width: 100%;
        }
        
        @include media-breakpoint-only(md) {
            width: 33.333%;
        }
    }
    
    &__img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
        box-shadow: 0 26px 24px -16px rgba(0,0,0,0.4) !important;
        transition: 200ms;
        &:hover{
            transform: translatey(-5px);
        }
    }
    
    &__link {
        color: #000;

        &:hover {
            text-decoration: none;
            color: var(--danger);
        }
    }

    &__title {
        display: block;
        font-size: 1rem;
        line-height: 1rem;;
        font-weight: bold;
        letter-spacing: 1px;
    }
    
    &__date {
        font-size: 1rem;
        display: block;
        letter-spacing: 1px;
    }
}