body {
    font-family: 'Josefin Slab', serif;
    font-family: 'Marvel', sans-serif; 
}

img {
    max-width: 100%;
    height: auto;
}

.titleSection {
    font-size: 3rem;
    line-height: 3rem;;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.main {
    margin: 3rem 0;
    height: auto;

    header {
        display: flex;
        width: 100%;
    }
}